.git
.github
.venv
venv
__pycache__
.pytest_cache
.ipynb_checkpoints
*.pyc
*.pyo
.env
coverage.xml
htmlcov

database/*
!database/.gitkeep
models/*
!models/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
